#qna {
  display: none;
}

.qBox {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
  width: 80%
}

.answerList {
  background-color: white;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  font-size: 20px;
}

.answerList:hover, .answerList:focus {
  background-color: rgb(255,243,250);
  color: rgb(255, 0, 140);
}

.status {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc6e0+0,ff96c5+45,ff63a1+100 */
background: #ffc6e0; /* Old browsers */
background: -moz-linear-gradient(top,  #ffc6e0 0%, #ff96c5 45%, #ff63a1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffc6e0 0%,#ff96c5 45%,#ff63a1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffc6e0 0%,#ff96c5 45%,#ff63a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc6e0', endColorstr='#ff63a1',GradientType=0 ); /* IE6-9 */

}
